
body {
	background-image:url('../images/bgk.jpg') no-repeat center center fixed;
 webkit-background-size: cover;
 moz-background-size: cover;
 o-background-size: cover;
  background-size: cover;	
}

#header{
	text-align:center;
	height: 20%;
	font-size: 80;
}

#main {
	height: 60%;
	
}

#login {
	float:left;
	padding-left:80px;
}

#signup {
	float:right;
	width:450px;
	
}

#footer{
	height:20%;
}
