
body {
	background:url('../images/Untitled.png') no-repeat center center fixed;
 webkit-background-size: cover;
 moz-background-size: cover;
 o-background-size: cover;
  background-size: cover;	
 color:white;
}

#header{
	font-family:arial;
	text-align:center;
	height: 20%;
	font-size: 100;
	color:white;
}

#main {
	height: 60%;
	
}

#login {
	
	float:left;
	padding-left:80px;
}

#signup {
	float:right;
	width:380px;
	
}

#footer{
	height:20%;
}
