<html>
	<head>
		<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/Homepage.css">
		<title> SHARE/homepage </title>

	</head>

	<body>
		<div id="left"></div>
		<div id="middle">
			<img src="{{ STATIC_URL }}images/logo.jpg" alt="logo" 
			width="300px" height="200px">
			<a href="home" class="b">Home</a>
			<a href="profile" class="b">Profile</a>
			<a href="logout" class="b">Log out</a>
			<br><br><br>
			<p id="info day">Information of the day:</p>
			<div id="graph">
			<img src="{{ STATIC_URL }}images/graph1.jpg" alt="Graph1" 
			width="300px" height="200px"></div>
			<div id="graph">
			<img src="{{ STATIC_URL }}images/graph2.jpg" alt="Graph2"
			width="300px" height="200px"></div>
		</div>
		<div id="right"></div>


	</body>

</html>
