

<html>

<head>

<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/Homepage.css">
<title> SHARE/homepage </title>

</head>

<body>

<span class="span1">Share</span>
<span class="span1">Home</span>
<span class="span1">Profile</span>
<span class="span1">Log Out</span>
<br><br><br>
<p id="info day">Information of the day:</p>
<div id="graph">
<img src="{{ STATIC_URL }}images/graph1.jpg" alt="Graph1" 
width="300px" height="200px">
</div>
<div id="graph">
<img src="graph2.jpg" alt="Graph2"
width="300px" height="200px">
</div>
</body>

</html>
