<html>
	<head>
		<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/Homepage.css">
		<script src="{{ STATIC_URL }}js/jquery.min.js"></script>

		<script src="http://code.highcharts.com/highcharts.js"></script>
<div id="graph1">		
<script type="text/javascript" >
$(function () {
        $('#containercol').highcharts({
            chart: {
                type: 'bar'
            },
            title: {
                text: 'Moods'
            },
            subtitle: {
                text: 'Your personal moods'
            },
            xAxis: {
                categories: ['Happy', 'Sad', 'Angry', 'Annoyed', 'Sleepy'],
                title: {
                    text: null
                }
            },
            yAxis: {
                min: 0,
                title: {
                    text: 'Moods',
                    align: 'high'
                },
                labels: {
                    overflow: 'justify'
                }
            },
            tooltip: {
                valueSuffix: 'Moods'
            },
            plotOptions: {
                bar: {
                    dataLabels: {
                        enabled: true
                    }
                }
            },
            legend: {
                layout: 'vertical',
                align: 'right',
                verticalAlign: 'top',
                x: -100,
                y: 100,
                floating: true,
                borderWidth: 1,
                backgroundColor: '#FFFFFF',
                shadow: true
            },
            credits: {
                enabled: false
            },
            series: [{
                name: 'Moods',
                data: [{{happies}}, {{saddies}},{{angries}}, {{annoyies}} ,{{sleepies}}]
				//data: [12, 17,45, 77 ,58]
            }]
        });
    });
    


		</script></div>
<div id="graph2">		
<script type="text/javascript" >
$(function () {
    $('#containerpie').highcharts({
        chart: {
            plotBackgroundColor: null,
            plotBorderWidth: null,
            plotShadow: false
        },
        title: {
            text: 'Moods'
        },
        tooltip: {
    	    pointFormat: '{series.name}: <b>{point.percentage:.1f}%</b>'
        },
        plotOptions: {
            pie: {
                allowPointSelect: true,
                cursor: 'pointer',
                dataLabels: {
                    enabled: true,
                    color: '#000000',
                    connectorColor: '#000000',
                    format: '<b>{point.name}</b>: {point.percentage:.1f} %'
                }
            }
        },
        series: [{
            type: 'pie',
            name: 'Moods',
            data: [
                 {
                    name: 'Happy',
                    y: {{happies}},
                    sliced: true,
                    selected: true
                },
                 {
                    name: 'Sad',
                    y: {{saddies}},
                    sliced: true,
                    selected: true
                },
                {
                    name: 'Angry',
                    y: {{angries}},
                    sliced: true,
                    selected: true
                },
                 {
                    name: 'Annoyed',
                    y: {{annoyies}},
                    sliced: true,
                    selected: true
                },
                 {
                    name: 'Sleepy',
                    y: {{sleepies}},
                    sliced: true,
                    selected: true
                },
               
            ]
        }]
    });
});
    
</script></div>
		
<title> SHARE/homepage </title>

	</head>

	<body>
		<div id="left"></div>
		<div id="middle">
			<div id="logos">
			<img id="logo" src="{{ STATIC_URL }}images/logo2.png" alt="logo2" width="100px" height="100px">
			<a href="home" class="b">Home</a>
			<a href="profile" class="b">Profile</a>
			<a href="logout" class="b">Log out</a>
			</div>

			<br><br><br>
			<h1 id="infoday">Information of the day:</h1>
			
			<div id="containercol" style="width:40%; height:400px;"></div>
			<div id="containerpie" style="width:40%; height:400px;"></div>
		</div>
		<div id="right"></div>


	</body>
</html>
