<html>
  <head>
    <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/login.css"> 
    <title>SHARE - Sign Up or Login</title>
</SCRIPT>
<style type="text/css">

body {
	background:url('{{ STATIC_URL }}images/{{ bgimage }}') no-repeat center center fixed;
 webkit-background-size: cover;
 moz-background-size: cover;
 o-background-size: cover;
  background-size: cover;	
 color:white;
}
</style>
  </head>
  <body>
  <div id="header">Share</div>
  <div id="main">
    <div id="login">
      <h1>Login: </h1>
      <form action="submitlogin" method="post">
        {%csrf_token%}	
	<div>Username: <input type='text' name='username'/> </div><br />
	<div>Password: <input type='password' name='password'/> </div><br />
	<input type="submit" value="login"/>
      </form>
    </div>
   
<div id="signup">
      <h1>Sign Up: </h1>
      <form action="signup" method="post">
		<table>
        {%csrf_token%}
        <div><tr><td>First Name: </td><td><input type='text' name='first_name'/></td></tr> </div>
        <div><tr><td>Last Name: </td><td><input type='text' name='last_name'/> </td></tr></div>
        <div><tr><td>Username: </td><td><input type= 'text' name= 'username'/></td></tr></div>
		<div><tr><td>Hobbies: </td><td><input type='text' name='hobbies'/> </td></tr></div>
		<div><tr><td>School: </td><td><input type='text' name='school'/> </td></tr></div>
        <div><span><tr><td>Birth Date: <select name='birthday_day'><option>1</option><option>2</option><option>3</option><option>4</option><option>5</option><option>6</option><option>7</option><option>8</option><option>9</option><option>10</option><option>11</option><option>12</option><option>13</option><option>14</option><option>15</option><option>16</option><option>17</option><option>18</option><option>19</option><option>20</option><option>21</option><option>22</option><option>23</option><option>24</option><option>25</option><option>26</option><option>27</option><option>28</option> <option>29</option><option>30</option><option>31</option></select></span>
        <select name='birthday_month'>	<option>1</option><option>2</option><option>3</option><option>4</option><option>5</option><option>6</option><option>7</option><option>8</option><option>9</option><option>10</option><option>11</option><option>12</option></select>
        <select name='birthday_year'><option>1985</option><option>1986</option><option>1987</option><option>1988</option><option>1989</option><option>1990</option><option>1991</option><option>1992</option><option>1993</option><option>1994</option><option>1995</option><option>1996</option><option>1997</option><option>1998</option></select></div> <br> <br>
        <div><tr><td>Email Address: </td><td><input type='text' name='email'/> </td></tr></div>
        <div><tr><td>Password:</td><td> <input type='password' name='password'/> </td></tr></div>	

        <tr><td><input type='submit' value="Sign Up"/><td></tr>
		</table>
      </form>
    </div>
  </div>
  <div id="footer"></div>	
	
  </body>
</html>
