<html>
	<head>
	<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/profile.css">
	<title>SHARE - profile</title>
	<script src="{{ STATIC_URL }}js/jquery.min.js"></script>

		<script src="http://code.highcharts.com/highcharts.js"></script>
<div id="graph1">		
<script type="text/javascript" >
$(function () {
		$('#containerpie').hide();
		$("#colchart").click(function(){
			$('#containercol').show();	
			$('#containerpie').hide();
		});
		$("#piechart").click(function(){
			$('#containerpie').show();	
			$('#containercol').hide();
		});
        $('#containercol').highcharts({
            chart: {
                type: 'bar'
            },
            title: {
                text: 'Moods'
            },
            subtitle: {
                text: 'Your personal moods'
            },
            xAxis: {
                categories: ['Happy', 'Sad', 'Angry', 'Annoyed', 'Sleepy', 'Calm', 'Disappointed', 'Excited', 'Anxious'],
                title: {
                    text: null
                }
            },
            yAxis: {
                min: 0,
                title: {
                    text: 'Moods',
                    align: 'high'
                },
                labels: {
                    overflow: 'justify'
                }
            },
            tooltip: {
                valueSuffix: 'Moods'
            },
            plotOptions: {
                bar: {
                    dataLabels: {
                        enabled: true
                    }
                }
            },
            legend: {
                layout: 'vertical',
                align: 'right',
                verticalAlign: 'top',
                x: -100,
                y: 100,
                floating: true,
                borderWidth: 1,
                backgroundColor: '#FFFFFF',
                shadow: true
            },
            credits: {
                enabled: false
            },
            series: [{
                name: 'Moods',
                data: [{{happies}}, {{saddies}},{{angries}}, {{annoyies}} ,{{sleepies}}, {{calmies}}, {{disappointies}}, {{excities}}, {{anxiousies}}]
				//data: [12, 17,45, 77 ,58]
            }]
        });
    });
    


		</script></div>
<div id="graph2">		
<script type="text/javascript" >
$(function () {
    $('#containerpie').highcharts({
        chart: {
            plotBackgroundColor: null,
            plotBorderWidth: null,
            plotShadow: false
        },
        title: {
            text: 'Moods'
        },
		
		
        tooltip: {
    	    pointFormat: '{series.name}: <b>{point.percentage:.1f}%</b>'
        },
        plotOptions: {
            pie: {
                allowPointSelect: true,
                cursor: 'pointer',
                dataLabels: {
                    enabled: true,
                    color: '#000000',
                    connectorColor: '#000000',
                    format: '<b>{point.name}</b>: {point.percentage:.1f} %'
                }
            }
        },
        series: [{
            type: 'pie',
            name: 'Moods',
            data: [
                 {
                    name: 'Happy',
                    y: {{happies}},
                    sliced: true,
                    selected: true
                },
                 {
                    name: 'Sad',
                    y: {{saddies}},
                    sliced: true,
                    selected: true
                },
                {
                    name: 'Angry',
                    y: {{angries}},
                    sliced: true,
                    selected: true
                },
                 {
                    name: 'Annoyed',
                    y: {{annoyies}},
                    sliced: true,
                    selected: true
                },
                 {
                    name: 'Sleepy',
                    y: {{sleepies}},
                    sliced: true,
                    selected: true
                },
               {
		   name: 'Calm',
                    y: {{calmies}},
                    sliced: true,
                    selected: true
		},
		{
		   name: 'Disappointed',
                    y: {{disappointies}},
                    sliced: true,
                    selected: true
		},
		{
		   name: 'Excited',
                    y: {{excities}},
                    sliced: true,
                    selected: true
		},
		{
		   name: 'Anxious',
                    y: {{anxiousies}},
                    sliced: true,
                    selected: true
		},
            ]
        }]
    });
});
    
</script></div>
</head>

	<body class="main">


		<div id="header">{{ user.first_name }} {{ user.last_name }}
			
						<img src="{{ STATIC_URL }}images/logo2.png" alt="logo" 
width="100px" height="100px">
<a href="home" class="b">Home</a>
<a href="profile" class="b">Profile</a>
<a href="logout" class="b">Log out</a>
			</div>
		</div>
		<div id="main">
			<div id="AddPhoto">
				<div id="Settings_A">
					<div id="username"><p>{{user.user.first_name}} {{user.user.last_name}}</p></div>
					<div><p>Hobbies: {{user.hobbies }}</p> </div>		
					<div><p>School: {{user.school}}</p></div>
					<div><p>Birthday: {{user.birthday}}</p></div>
					<form action="mood" method="post">
        			{%csrf_token%}					
					<div>What Is Your Mood Today? 
					<select name='mood'>
						<option value="Sad">Sad</option>
						<option value="Happy">Happy</option>
						<option value="Angry">Angry</option>
						<option value="Annoyed">Annoyed</option>
						<option value="Sleepy">Sleepy</option>
						<option value="Calm">Calm</option>
						<option value="Disappointed">Disappointed</option>
						<option value="Excited">Excited</option>
						<option value="Anxious">Anxious</option>
					</select> </div><br />
					 <input type='submit' value="Submit" href = "profile"/>
				</div>
			</div>
		</div>
			<div id="colchart" class="b">Column</div> 
			<div id="piechart" class="b">Pie</div>
			<div id="containercol" style="width:30%; height:400px;"></div>
			<div id="containerpie" style="width:30%; height:400px;"></div>
	

	</body>
</html>	
