<html>
	<head>
	<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/profile.css">
	<title>SHARE - profile</title>
	</head>

	<body>


		<div id="header">{{ user.first_name }} {{ user.last_name }}
			<div id="header2">
						<img src="{{ STATIC_URL }}images/logo2.png" alt="logo" 
width="100px" height="100px">
<a href="home" class="b">Home</a>
<a href="profile" class="b">Profile</a>
<a href="logout" class="b">Log out</a>
			</div>
		</div>
		<div id="main">
			<div id="AddPhoto">
				<div id="Settings_A">
					<div id="username"><p>{{user.user.first_name}} {{user.user.last_name}}</p></div>
					<div><p>Hobbies: {{user.hobbies }}</p> </div>		
					<div><p>School: {{user.school}}</p></div>
					<div><p>Birthday: {{user.birthday}}</p></div>
					<div>What Is Your Mood Today?  <input type='text' name='mood'/> </div><br />
				</div>
			</div>
		</div>
		<div id="footer"></div>		
	</body>
</html>	
