<html>
<head>
<link rel="stylesheet" type="text/css" href="profile.css">
</head>

<body>

<span class="span1"><a href="">Share</a></span>
<span class="span1"><a href="/home">Home</a></span>
<span class="span1"><a href="/profile">Profile</a></span>
<span class="span1"><a href="/logout">Log Out</a></span>

<table>
<tr>
<td></td>
<div id="container1" style="width:200px">
<p id="name">Roni London</p>
<img src="{{ STATIC_URL }}images/roni.jpg" alt="Roni London"
width="200" height="150">
</div>

<div id="container3" style="float:right">
<p id="name2">My Information:</p>
</div>
<div id="container2" style="width:100px;height:100px;">
<p id="name2"> Gender: Female</p>
<p id="name2">Birthday:December 9th</p>
<p id="name2">Hobbies: Dancing, Reading, Photography</p>
</div>



</div>

</body>

</html>

